/00gnulib.m4
/gnulib-cache.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/ltversion.m4
/include_next.m4
/ssize_t.m4
/stddef_h.m4
/stdlib_h.m4
/unistd_h.m4
/warn-on-use.m4
/wchar_t.m4
/extensions.m4
/memchr.m4
/mempcpy.m4
/mmap-anon.m4
/stdbool.m4
/stpcpy.m4
/string_h.m4
/strndup.m4
/strnlen.m4
/strstr.m4
/longlong.m4
/multiarch.m4
/stdint.m4
